.arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: rem(24px);
    height: 100%;
    flex-shrink: 0;

    @include phones {
        height: 70%;
    }
}

.arrow__img {
    width: rem(24px);
    height: rem(40px);
    align-items: center;
    z-index: 10;
}

.arrow__img-rotate {
    transform: rotate(180deg);
}

.arrow__left {
    @include tablets {
        // position: absolute;
        // top: -18.5%;
        // left: 16.8%;
    }
}

.arrow__right {
    @include tablets {
        // position: absolute;
        // top: -18.5%;
        // right: 17.8%;
    }
}