.form__column {
    flex: 1;
    margin-right: rem(14px);
    
    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
    }
}

.form__column-add-info {
    padding-left: rem(10px);

    @include tablets {
        padding-left: 0;
    }
}