.options {
    display: flex;
    flex-direction: row;
    margin-bottom: rem(21px);
}

.options__item {
    margin-right: rem(52px);

    &:last-child {
        margin-right: 0;
    }
}

.options__title {
    margin-bottom: rem(3px);
}

.options__description {
    display: flex;
    font-weight: 700;
}

.options__description-text {
    margin-right: rem(3px);    

    &:last-child {
        margin-right: 0;
    }
}

.options__description-value {
    margin-right: rem(3px);
}