.parameters {
    padding: 0;
    position: relative;
    width: rem(91px);
    height: rem(91px);
    background-color: #3A587E;
    border-radius: 5%;
    margin-bottom: rem(52px);
    text-align: center;
}

.parameters__img {
    width: rem(38px);
    height: rem(38px);
    margin-bottom: rem(5px);
}

.parameters__text {
    font-size: rem(14px);
    font-weight: 700;
    color: #fff;
}

.parameters__list {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    width: rem(200px);
    height: rem(300px);
    border: 1px solid green;
}