.response {
    display: none;
    background: rgba(51,53,55, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;

    &--active {
        display: block;
    }
}

.response__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

