.slide__item {
    display: flex;
    justify-content: center;
}

.slide__img {
    margin-right: rem(48px);
    width: rem(419px);
    height: rem(538px);
    flex-shrink: 0;
}

.slide__info {
    padding: 1% ;
}

.slide__headline {
    margin-bottom: rem(24px);
    font-size: rem(36px);
    font-weight: 700;
    text-transform: uppercase;
}

.slide__text {
    margin-bottom: rem(24px);
    line-height: normal;
}

.slide-order {
    display: flex;
}