.slide-order {
    display: flex;
    margin-right: rem(14px);
    //border: 1px solid red;
    justify-content: space-between;
}

.slide-order__price {
    display: flex;
    font-size: 60px;
}

.slide-order__price-value {
    margin-right: rem(10px);
}